
<ul [ngClass]="mailActive ? 'active' : ''">
  <div id="pagination">
    <mat-paginator #paginator class="demo-paginator" [length]="mails.length" [pageSize]="7"
                [showFirstLastButtons]="true" aria-label="Select page">
    </mat-paginator>
    <div class="flex allMails">
      <input type="checkbox" id="selected" [checked]="allChecked" (change)="selectAllMails($event);allChecked = !allChecked">
      <button mat-icon-button (click)="emitInboxAction('get')"><mat-icon>refresh</mat-icon></button>
      <button mat-icon-button (click)="emitInboxAction('archive')"><mat-icon>archive</mat-icon></button>
      <button mat-icon-button (click)="emitInboxAction('fav')"><mat-icon>favorite_border</mat-icon></button>
      <button mat-icon-button (click)="emitInboxAction('delete')"><mat-icon>delete</mat-icon></button>
    </div>
  </div>

  <li class="flex" *ngFor="let mail of mails.slice(paginator.pageIndex*7, (paginator.pageIndex+1)*7)" 
      (click)="showMail(mail);mailActive = true">
    <input type="checkbox" id="selected" (change)="selectMail($event, mail)" [checked]="allChecked">
    <img src='assets/message.png' width="50px" height="50px" style="border-radius: 50%;">
    <h2>{{mail.from}}</h2>
    <p>{{mail.subject}}</p>
    <span>{{mail.priority}}</span>
    <span>{{mail.timestamp}}</span>
  </li>
</ul>



<div class="mailPreview" [ngClass]="mailActive ? 'active' : ''">
  <div class="flex icons">
    <button mat-icon-button (click)="mailActive = false"><mat-icon>check</mat-icon></button>
    <button mat-icon-button (click)="mailActive = false"><mat-icon>refresh</mat-icon></button>
    <button mat-icon-button (click)="mailActive = false"><mat-icon>drafts</mat-icon></button>
    <button mat-icon-button (click)="mailActive = false"><mat-icon>favorite_border</mat-icon></button>
    <button mat-icon-button (click)="emitMailAction('delete', active)"><mat-icon>delete</mat-icon></button>
    <button mat-icon-button (click)="mailActive = false"><mat-icon>close</mat-icon></button>
  </div>
  <div class="flex">
    <img src='assets/message.png' width="50px" height="50px" style="border-radius: 50%;">
    <div class="flex col">
      <h2>{{active.id}}</h2>
      <h4>{{active.subject}}</h4>
    </div>
  </div>
  <p>{{active.content}}</p>
</div>
